/* custom stlyes for home page */

header {
    display: inline-block;
    width: 100%;
    height: 340px;
    text-align: center;
    color: white;
    background-color: #cd633b;
    background-image: url(/images/header.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

header h1 {
    margin: 60px 0 10px 0;
    padding: 0;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.5;
    color: #ffcb00;
    border: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

header h2 {
    margin: 0;
    font-size: 18px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

header h2 a {
    color: #a6bad0;
}

.join a {
    display: block;
    width: 200px;
    padding: 4px;
    margin: 40px auto;
    font-size: 30px;
    font-weight: 600;
    font-variant: small-caps;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    background-color: #ff9b00;
    transition: background-color .2s ease-in-out;
}

.join a:hover {
    background-color: #ffb94d;
}

ul {
    margin: 10px;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

ul li {
    display: inline-block;
}

ul li a {
    margin: 10px;
    padding: 8px;
    font-weight: bold;
    display: inline-block;
    color: inherit;
    border-color: var(--theme-text-color);
    border-style: solid;
    border-width: 2px;
    transition: color .2s ease-in-out, border-color .2s ease-in-out;
}

ul li a:hover {
    text-decoration: none;
    color: var(--theme-text-light-color);
    border-color: var(--theme-text-light-color);
}